
footer {
    background-color: #343a40;
    color: white;
    width: 100%;
    /* position: fixed; */
    bottom: 0px;
    text-align: center;
    padding: 20px;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
}


.img-pub {
    /* background-color: #343a40; */
    height: 400px;
    text-align: center;
}

.img-pub2 {
    width: 90%;
    text-align: center;
}